@charset "UTF-8";
div#tvradio {
    width: 900px;
    height: 575px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}
audio#musica {
    display: block;
    position: relative;
    left: 575px;
    top: 487px;
    width: 300px;
}
video#filme {
    display: block;
    position: relative;
    left: 90px;
    top: 65px;
    width: 440px;
}
video#filme1 {
    display: block;
    position: relative;
    margin: auto;
    bottom: 10px;
    width: 340px;
}
video#filme2 {
    display: block;
    position: relative;
    margin: auto;
    width: 340px;
}